<template>
  <div class="about">
    <h1>This is an about page {{text}}</h1>

    <h2>{{ message }}</h2>
    <v-btn color="success" @click.prevent="onClick()">text</v-btn>

    <Button textBtn="Component Props" />

    {{ firstName }}

    <v-text-field label="ชื่อจริง" v-model="firstName"></v-text-field>

    <h2 :value="counter()">Count: {{ count }}</h2>
    <v-btn color="success" @click.prevent="addCount">Add Count</v-btn>
    <h3>{{checkCount}}</h3>

    <h2 :value="counter2()">Count2: {{ count2 }}</h2>
    <v-btn color="success" @click.prevent="addCount2(10)">Add Count</v-btn>

    <input v-model="name">
    {{name}}
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Watch } from "vue-property-decorator";
import Button from "@/components/Button.vue";
@Component({
  components: {
    Button,
  },
})
export default class About extends Vue {
  message: string = "Hello!";
  firstName: string = "";
  count: number = 0;
  count2: number = 0;
  fName: string = 'John'
  lName: string = 'Doe'

  data() {
    return {
      text: "Text"   
    }
  }

  beforeCreate() {
    console.log("Before Create");
  }

  created() {
    console.log("Created");
  }

  mounted() {
    console.log("Mounted");
  }

  beforeMount() {
    console.log("Before Mount");
  }

  onClick(): void {
    window.alert(this.message);
  }

  @Watch("counter")
  counter(): void {
    setTimeout(() => {
      this.count = 0;
    }, 5000);
  }

  @Watch("counter2")
  counter2(): void {
    setTimeout(() => {
      this.count2 = 0;
    }, 3000);
  }

  // computed
  get checkCount(): string {
    return this.count > 5 ? 'Greater than 5' : 'Less than 5'
  }

  addCount(): void {
    this.count++;
  }

  addCount2(): void {
    this.count2++
  }

  get name() {
    // return this.fName + ' ' + this.lName
    // return [this.fName, this.lName].join(' ')
    return `${this.fName} ${this.fName}`
  }

  // Declared as computed property setter
  set name(value) {
    const splitted = value.split(' ')
    this.fName = splitted[0]
    this.lName = splitted[1] || ''
  }

}
</script>

