
<template>
  <div id="home">
    <h1>{{ fullName }}</h1>
    <!-- <h2>{{ age }}</h2> -->
    <h3 v-for="(data, index) in animal" :key="index">{{ data.name }}</h3>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

interface Person {
  name: string;
}

interface Animals {
  [index: number] : {name: string;}
}

export default Vue.extend({
  name: "Home",
  data() {
    return {
      fullName: "1",
      // age: 0,
      // fruitData: [
      //   { name: 'ทุเรียน', price: 150 }
      // ],
      animal: [] as Animals,
    };
  },
  created() {
    this.personName({ name: "Siwakorn" });
    // this.personAge({ age: 22 });
    this.getNameAnimal([{name: 'Tiger'}, {name: 'Lion'}]);
  },
  methods: {
    personName(person: Person) {
      return (this.fullName = "Hello " + person.name);
    },
    // personAge(Age: { age: number }) {
    //   return (this.age = Age.age);
    // },
    getNameAnimal(animals: Animals) {
      console.log(animals);
      return this.animal = animals;
    },
  },
});
</script>
