<template>
  <div id="todo-list">
    <v-container grid-list-xs>
      <v-card class="pt-2 pb-7 px-8 mb-4">
        <v-card-title primary-title> Add Todo </v-card-title>
        <v-divider class="mb-5"></v-divider>
        <v-text-field
          label="Todo Input"
          outlined
          color="blue"
          v-model.trim="todoInput"
        ></v-text-field>
        <v-btn
          color="blue"
          large
          block
          class="white--text mb-4"
          @click.prevent="addTodo"
        >
          <v-icon left>mdi-plus-circle</v-icon>
          Add
        </v-btn>
        <v-btn
          color="grey"
          large
          block
          class="white--text"
          @click.prevent="deleteAllTodo"
        >
          <v-icon left>mdi-delete</v-icon>
          Clear
        </v-btn>
      </v-card>
      <v-card class="pt-2 pb-7 px-8 mb-4">
        <v-card-title primary-title> Todo List </v-card-title>
        <v-divider class="mb-5"></v-divider>
        <v-card-text
          v-for="(item, index) in todoLocal"
          :key="index"
          class="d-flex justify-space-between align-center"
        >
          {{ item }}
          <v-btn icon @click.prevent="deleteTodoItem(index)">
            <v-icon color="red">mdi-delete</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-text
          class="text-center red--text"
          v-if="!todoLocal || todoLocal.length === 0"
        >
          ไม่มีข้อมูล
        </v-card-text>
      </v-card>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({
  components: {},
})
export default class TodoList extends Vue {
  todoInput: string = "";
  todoLocal: string[] | null = JSON.parse(
    localStorage.getItem("Todo") as string
  );

  getTodo(): void {
    this.todoLocal = JSON.parse(localStorage.getItem("Todo") as string);
  }
  addTodo(): void {
    if (this.todoInput) {
      if (this.todoLocal) {
        this.todoLocal.push(this.todoInput);
        localStorage.setItem("Todo", JSON.stringify(this.todoLocal));
      } else {
        const todoArray: string[] = [];
        todoArray.push(this.todoInput);
        localStorage.setItem("Todo", JSON.stringify(todoArray));
      }
      this.getTodo();
      this.todoInput = "";
    }
  }

  deleteTodoItem(index: number): void {
    this.todoLocal!.splice(index, 1);
    localStorage.setItem("Todo", JSON.stringify(this.todoLocal));
  }

  deleteAllTodo(): void {
    localStorage.removeItem("Todo");
    this.todoLocal = null;
  }
}
</script>

<style>
</style>