<template>
  <v-btn color="primary">{{textBtn}}</v-btn>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

const textButton = Vue.extend({
    props: {
        textBtn: String
    }
})

@Component({
})
export default class Button extends textButton {
    
}
</script>

<style>

</style>